.category-title{
    color: #1F1F1F;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-Public);
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 70.2px */
    margin-bottom: 4rem;
    padding-top: 8rem;
}
.category-card{
    border-radius: 0.625rem;
    border: 3px solid #F4F4F4;
    background: #FFF;
    height: 100%;
}
.category-card-img{
    width: 100%;
    height: 24.375rem;
    border-radius: 0.625rem;
    border-bottom: 3px solid #F4F4F4;
    background: #FFF;
    margin-bottom: 2.5rem;
    padding: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-card-text{
    color: #4A4A4A;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-Poppins);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 83%;
}
.category-color-text{
    leading-trim: both;
    text-edge: cap;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.category-text-color1{
    background:linear-gradient(90deg, #F6D365 0%, #FDA085 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 575.98px) {
    .category-title{
        padding-top: 3rem;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    .category-card-img{
        padding:1.5rem;
        height:max-content;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .category-card-img img{
        height: 12rem;
        width: 12rem;
    }
    .category-card-text{
        font-size: 1rem;
        margin: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .category-title{
        padding-top: 3.5rem;
        margin-bottom: 2.5rem;
    }
    .category-card-img{
        padding:2rem;
        height:max-content;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .category-card-img img{
        height: 18rem;
        width: 18rem;
    }
    .category-card-text{
        font-size: 1.5rem;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .category-title{
        padding-top: 4rem;
        margin-bottom: 3rem;
    }
    .category-card-img{
        padding:2rem;
        height:max-content;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .category-card-img img{
        height: 12rem;
        width: 12rem;
    }
    .category-card-text{
        font-size: 1rem;
        margin: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .category-title{
        padding-top: 4.5rem;
        margin-bottom: 3.5rem;
    }
    .category-card-img{
        padding:2.5rem;
        height:max-content;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .category-card-img img{
        height: 18rem;
        width: 18rem;
    }
    .category-card-text{
        font-size: 1.3rem;
        margin: 0;
    }
}

@media (min-width: 1200px) { }