.question-type{
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-Public);
    font-size: 26.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 650px */
    margin: 0;
}
.question-text{
    color: #263238;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-Public);
    font-size:  2.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 4.3875rem */
}

.questions-body{
    padding: 6.25rem;
    display: flex;
    justify-content: center;
    border-radius: 3.125rem;
}
.questions-body-container{
    width: 80%;
}
.questions-body-card{
    border-radius: 1.25rem;
    background: #F4F4F4;
    padding: 2.5rem 1.875rem;
}
.question-number{
    display: flex;
    width: 4.375rem;
    height: 3.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-Poppins);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.question-text-btn{
    border-radius: 0.3125rem;
    background: #E0E0E0;
    display: flex;
    width: 6.3rem;
    height: 3.125rem;
    padding: 0 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #888;
    text-align: center;
    font-family: 'Public Sans' ,sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.5rem */
}
.question-title{
    color: #4A4A4A;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Public Sans' ,sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem; /* 136.364% */
}
.questions-body-text{
    color: #4A4A4A;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Public Sans' ,sans-serif;
    opacity: 0.8;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 550;
    line-height: 1.875rem; /* 150% */
    margin: 0;
}

@media (max-width: 575.98px) {
    .question-type{
        text-align: center;
        font-size: 10rem;
    }
    .question-text{
        text-align: center;
        font-size: 1.5rem;
    }
    .questions-body{
        padding: 2rem;
        display: flex;
        justify-content: center;
        border-radius: 3.125rem;
    }
    .questions-body-container{
        width: 100%;
    }
    .questions-body-card{
        padding: 1.5rem 1rem;
    }
    .question-number{
        font-size: 1rem;
        height: 2.5rem;
        width: 3.2rem;
    }
    .question-text-btn{
        height: 2.5rem;
        font-size: 1rem;
    }
    .question-title{
        font-size: 1rem;
        line-height: 1.3rem;
    }
    .questions-body-text{
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .question-type{
        text-align: center;
        font-size: 10rem;
    }
    .question-text{
        text-align: center;
        font-size: 1.5rem;
    }
    .questions-body{
        padding: 2rem;
        display: flex;
        justify-content: center;
        border-radius: 3.125rem;
    }
    .questions-body-container{
        width: 100%;
    }
    .questions-body-card{
        padding: 2rem 1.5rem;
    }

    .question-title{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .questions-body-text{
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .question-type{
        text-align: center;
        font-size: 10rem;
    }
    .question-text{
        text-align: center;
        font-size: 1.5rem;
    }
    .questions-body{
        padding: 2rem;
        display: flex;
        justify-content: center;
        border-radius: 3.125rem;
    }
    .questions-body-container{
        width: 100%;
    }
    .questions-body-card{
        padding: 2rem 1.5rem;
    }

    .question-title{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .questions-body-text{
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .question-type{
        text-align: center;
        font-size: 15rem;
    }
    .question-text{
        text-align: center;
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) and (max-width: 1509.9px){
    .question-type{
        text-align: center;
        font-size: 18rem;
    }
    .question-text{
        text-align: center;
        font-size: 2.5rem;
    }
    .questions-body-container{
        width: 80% !important;
    }
}
@media (min-width: 1510px) {
    .questions-body-container{
        width: 80% !important;
    }
}
