.authorPage-body {

}

.authorPage-text {
    margin-bottom: 3.12rem;
}

.authorPage-text p {
    color: #111;
    leading-trim: both;
    text-edge: cap;
    text-indent: 1.5rem;
    font-family: var(--font-Poppins);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    margin: 0;
}

.authorLink {
    color: #0D4789 !important;
    text-decoration: none !important;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-Poppins);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.authorPageLink img {
    transform: rotateZ(180deg);
}

.authorPageLink {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 1.25rem;
}

.authorPageLink p {
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-Poppins);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
    margin: 0;
}

@media (max-width: 575.98px) {
    .authorPageLink p {
        font-size: 1.2rem;
    }

}